# Business Understanding

In [1]:
# imports
import pandas as pd

# Data Understanding

## Collect initial data

Daten wurde von Kunden bereitgestellt.

In [24]:
# read data from provided csv
data = pd.read_csv("train.csv", sep="$", index_col=False)
data.head(10)

/home/jannick/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (3,5,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,1,Male,44,No,28.0,No,> 2 Years,Yes,40454.0,26.0,217,1
1,1,2,Male,76,No,3.0,No,1-2 Year,No,33536.0,26.0,183,0
2,2,3,Male,47,No,28.0,No,> 2 Years,Yes,38294.0,26.0,27,1
3,3,4,Male,21,Yes,11.0,Yes,< 1 Year,No,28619.0,152.0,203,0
4,4,5,Female,29,Yes,41.0,Yes,< 1 Year,No,27496.0,152.0,39,0
5,5,6,Female,24,No,33.0,No,< 1 Year,Yes,2630.0,160.0,176,0
6,6,7,Male,23,No,11.0,No,< 1 Year,Yes,23367.0,152.0,249,0
7,7,8,Female,56,No,28.0,No,1-2 Year,Yes,32031.0,26.0,72,1
8,8,9,Female,24,Yes,3.0,Yes,< 1 Year,No,27619.0,152.0,28,0
9,9,10,Female,32,Yes,6.0,Yes,< 1 Year,No,28771.0,152.0,80,0

Probleme:
Das CSV ist nicht wohgeformt und kann daher nicht ohne Weiteres eingelesen werden. Die erste Zeile endet mit dem Separatorzeichen ($)

# Data Preparation

# Modeling

# Evaluation

# Deployment